[flake8]
# what directory ignoring
exclude = .git, .gitignore, Pipfile, Pipfile.lock, README.md, __init__.py, .pre-commit-config.yaml
# max length of string
max-line-length = 79
# what mistake ignore
ignore = E203, E266, E501, W503, W391
