[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pymongo = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest = "*"
requests = "*"
beautifulsoup4 = "*"
redis = "*"
fastapi = "*"
uvicorn = {extras = ["standart"], version = "*"}
pre-commit = "*"
pydantic-settings = "*"
lxml = "*"
types-requests = "*"
kafka-python = "*"
pytest-asyncio = "*"
pytest-mongodb = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
